<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All file exist</title>
    <script src="/js/files-view.js"></script>
    <link rel="stylesheet" href="/css/files-view.css">
</head>

<body>
    <!-- The Modal -->
    <div id="dropdown-rename-file" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick=hideRenameDropdown()>&times;</span>
            <p>This feature is implementing. Please try later...</p>
        </div>

    </div>
    <div class="context-wrapper">
        <div class="content">
            <ul class="menu">
                <li class="item">
                    <span onclick=view()>View</span>
                </li>
                <li class="item" onclick=showRenameDropdown()>
                    <span>Rename</span>
                </li>
                <li class="item" onclick=deleteFile()>
                    <span>Delete</span>
                </li>
                <li class="item" onclick=downloadFile()>
                    <span>Download</span>
                </li>
            </ul>
        </div>
    </div>
    <div id="container">
        <div id="files-container">
            <table class="styled-table" id="table-files">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Upload Date</th>
                        <th>Length (bytes)</th>
                    </tr>
                </thead>
                <tbody>
                    <% files.forEach((file)=> { %>
                        <tr>
                            <td class="model-name" onclick=loadFrameToViewModel(event) viewUrl="<%=file.viewUrl%>"
                                downloadUrl="<%=file.downloadUrl%>" fullName="<%=file.filename%>"
                                deleteUrl="<%=file.deleteUrl%>" originalName="<%=file.originalName%>"
                                title="Click to view model" isModelName>
                                <%=file.originalName%>
                            </td>
                            <td>
                                <%=file.uploadDate%>
                            </td>
                            <td>
                                <%=file.length%>
                            </td>
                        </tr>
                        <% }) %>

                </tbody>
            </table>
        </div>
        <div id="view-container">
            <iframe id="view-frame" src="/views/empty-view.html" frameborder="0">
            </iframe>
            <div id="add-new-model" onclick=redirectToAddModelPage()>Add new Model</div>
        </div>
    </div>
</body>

</html>