<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model show</title>
    <script>
        const modelUrl = "<%=modelUrl%>";
        const fileInfo = {
            fullName: "<%=file.filename%>",
            originalName: "<%=file.originalName%>",
            downloadUrl: "<%=file.downloadUrl%>",
            deleteUrl: "<%=file.deleteUrl%>",
            viewUrl: "<%=file.viewUrl%>",
            uploadDate: "<%=file.uploadDate%>",
            length: "<%=file.length%>",
            isModel: true,
        }
        if (window.parent) {
            window.parent.postMessage(fileInfo, window.location.origin);
        }
    </script>
</head>

<body>
    <div id="canvas-container"></div>
    <script src="/js/model-view.js" type="module"></script>
</body>

</html>